<div data-sly-use.logic="logic.js">
    <div data-sly-test="${wcmmode.edit || wcmmode.preview}">
	<!-- Render HTML file in EDIT and PREVIEW mode-->
    	<section data-sly-include="search.html"></section> 
    </div>
    <div data-sly-test="${!wcmmode.edit && !wcmmode.preview}">
	<!-- Render by Angular 2 component in wcmmode=DISABLED mode-->
    	<search goBtnLabel="${properties.goBtnLabel}" searchPlaceHolder="${properties.searchPlaceHolder}" previousBtnLabel="${properties.previousBtnLabel}" nextBtnLabel="${properties.nextBtnLabel}"></search>
    </div>
</div>