<div class="row">
    <div class="col-lg-6">
        <div class="input-group"> 
                <ng2-completer class="completer-limit"
                                             [(ngModel)]="queryString"
                                             [dataService]="dataRemote"
                                             [minSearchLength]="0"
                                             [maxChars]="10"
                                             [inputClass]="'form-control'"
                                             [placeholder]="searchPlaceHolder"
                                             [matchClass]="'match'"
                                             [autofocus]="true"
                                             [textSearching]="false">
                </ng2-completer>
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" (click)="search(0)">{{goBtnLabel}}</button>
                </span>
        </div>
    </div> 

    <div class="col-lg-12" *ngIf="searchResults" >
        <br>
        <p><b>Result: Found {{searchResults.numberOfResults}} result in {{searchResults.elapsedTime}}</b></p>
        <p *ngIf="searchResults.spellcheckSuggestion">
            Your searched for <b>{{searchResults.spellcheckSuggestion.queryTerm}}</b>, Suggested term(s): 
            <span *ngFor="let s of searchResults.spellcheckSuggestion.alternatives; let i = index"><b>{{s}}</b></span>
		</p>
        <div *ngFor="let result of searchResults.searchResults; let i = index">
            <a [href]="result.link">{{result.title}}</a>
            <p [innerHTML]="result.highlighting"></p>
        </div>

        <nav>
          <ul class="pagination">
            <li class="page-item" [ngClass]="{'disabled': searchResults.currentPage <=0}"><a class="page-link" (click)="search(searchResults.currentPage - 1)">{{previousBtnLabel}}</a></li>
            <li class="page-item" *ngFor="let pageNumber of searchResults.pages;"><a class="page-link" (click)="search(pageNumber)">{{pageNumber + 1}}</a></li>
            <li class="page-item" [ngClass]="{'disabled': searchResults.currentPage >= (searchResults.numberPages - 1)}"><a class="page-link" (click)="search(searchResults.currentPage + 1)">{{nextBtnLabel}}</a></li>
          </ul>
        </nav>
    </div>
</div>